#home {
    margin: 0 auto;
    max-width:  658px;
    text-align: center !important;
    max-height: 100%;
  h1 {
    margin-top: 40px;
  }
  p {
  	margin-top: 20px;
  }
  input { 
    margin-bottom: 50px;
    display: inline !important;
    width: 50%;
  }
}
