<div class="container" id="home">
	<section class="card">
		<h1>Computer Science</h1>	
		<p class="lead">The Major At Glance</p>
		<p>30 CUNY Commmon Core</p>
		<p>12 Hunter Focus Credits</p>
		<p>53 Major Credits</p>
		<p>25 Elective Credits</p>
	</section>
	<div class="card">
		<button ng-repeat="year in years" class="btn btn-primary" ng-click="seeMap(year)" id="year-btn">
			{{year}}
		</button>
		<div class="card" ng-repeat="(key, value) in fall">
			<p>{{value}} </p>
		</div>
		<div class="card" ng-repeat="(key, value) in spring">
			<p>{{value}} </p>
		</div>
	</div>
	
	

</div>	