<div class="container" id="home">
	<section class="card">
		<h1>Computer Science</h1>	
		<p class="lead">The Major At Glance</p>
		<p>30 CUNY Commmon Core</p>
		<p>12 Hunter Focus Credits</p>
		<p>53 Major Credits</p>
		<p>25 Elective Credits</p>
	</section>
	<div class="card">
		<button ng-repeat="year in years" class="btn btn-primary" ng-click="seeMap(year)" id="year-btn">
			{{year}}
		</button>
		<div ng-if="checker ==  true">
			<div class="card">
				<p class="lead">Fall</p>	
				<p ng-repeat="(key, value) in fall"> {{value.title}} | {{value.fulfills}} </p>
			</div>
			<div class="card">
				<p class="lead">Spring</p>
				<p ng-repeat="(key, value) in spring">{{value.title}} | {{value.fulfills}} </p>
			</div>
		</div>
	</div>
	
	

</div>	